<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" >
        <img height="100px" src="../../../../assets/images/YASMOTORS.png" />
        <!-- Se quiser ajustar o tamanho da imagem, é só colocar um height em px na tag img-->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Motos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Peças</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Estoque
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Todas as Motos</a></li>
              <li><a class="dropdown-item" href="#">Mais caro ao mais barato</a></li>
              <li><a class="dropdown-item" href="#">Motos Retrô</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
