
<br> 
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"  style="width:87%;">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/images/bmw1250.webp" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>BMW R 1250 GS</h5>
                    <p>Com espírito ainda mais aventureiro.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/kawasaki3.webp" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5> KAWASAKI NINJA H2R</h5>
                    <p>A moto mais rápida do mundo</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/images/hd2.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>FAT BOB 2022</h5>
                    <p>Uma devoradora de ruas com fome de potência. Construída para alto desempenho com estilo massivo.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <br><br><br><br><br><br>
     </div>
       <div class="col-sm-3">
        <h1 style="font-family: 'Anton', sans-serif;">EXPERIMENTE AQUELA SENSAÇÃO DE MOTO NOVA</h1>
        <h3>Com mais de vinte anos de mercado, o YasMotors sempre busca a melhor opção para o que o cliente procura. <br>
        Com o YasMotors você pode tudo!</h3>
       </div>

       <div class="row">
         <div class="col">
          <h1 class="text-center" style="font-family: 'Anton', sans-serif;">BUSCAR POR MARCAS</h1>
          <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" style="width: 80%; margin:auto;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/kawasaki-logo.png" class="d-block w-100" alt="..." height="500px">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/hd logo2.png" class="d-block w-100" alt="..." height="500px">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/bmw logo2.png" class="d-block w-100" alt="..." height="500px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
         </div>
       </div>
      
     <p>



      
     </p>
    
       <h1 class="text-center" style="font-family: 'Anton', sans-serif;">NOSSAS TOP 3 MAIS VENDIDAS</h1>
       <div class="row">
         <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/KAWASAKI.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">KAWASAKI NINJA H2R</h5>
              <p class="card-text">R$ 168 mil</p>
              <a href="#" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
         </div>
         <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/hd.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HARLEY-DAVIDSON FAT BOB 2022</h5>
              <p class="card-text">R$ 299 mil</p>
              <a href="#" class="btn btn-primary">Veja mais</a>
            </div>
          </div>
         </div>
         <div class="card" style="width: 18rem;">
          <img src="../../../assets/images/bmw fb.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BMW R1250</h5>
            <p class="card-text">R$ 124 mil</p>
            <a href="#" class="btn btn-primary">Veja mais</a>
          </div>
        </div>
       </div>
       </div>
     
</div>
