<div class="container" >
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">2022 © YasMotors </p>
      </div>
  
      <div class="col">
        <h5 style="color:black">YasMotors</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Avenida dos Pampas, 2005</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Centro</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Fone: 3524-6678</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Whatsapp: 15 99876-0943</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Insta: @YasMotors_ </a></li>
        </ul>
      </div>
  
      <div class="col">
          <div class="d-flex flex-column">
            <img src="../../../assets/images/YASMOTORS.png">
          </div>
      </div>
  
      <div class="col">
        <h5 style="color:white">Atendimento</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Online: 24hrs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Seg-Sexta: 8h00 - 20:30h</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sáb: 9h30 - 15h</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Feriado: Entre em contato pelas redes sociais</a></li>
          
        </ul>
      </div>
    </footer>
  </div>